/* Start flavours */
/*
*
* Base16 Gruvbox dark, hard
* Author: Dawid Kurek (dawikur@gmail.com), morhetz (https://github.com/morhetz/gruvbox)
*
*/

@define-color base00 #1d2021;
@define-color base01 #3c3836;
@define-color base02 #504945;
@define-color base03 #665c54;
@define-color base04 #bdae93;
@define-color base05 #d5c4a1;
@define-color base06 #ebdbb2;
@define-color base07 #fbf1c7;
@define-color base08 #fb4934;
@define-color base09 #fe8019;
@define-color base0A #fabd2f;
@define-color base0B #b8bb26;
@define-color base0C #8ec07c;
@define-color base0D #83a598;
@define-color base0E #d3869b;
@define-color base0F #d65d0e;
/* End flavours */

* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FiraCodeNerdFontMono, FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 18px;
}

window#waybar {
    background-color: @base01;
    border-bottom: 3px solid @base02;
    color: @base05;
    opacity: 0.8;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px @base06;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: @base06;
}
#workspaces button.active {
    background-color: @base03;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}

#workspaces button.focused {
    background-color: @base00;
    box-shadow: inset 0 -3px @base06;
}

#workspaces button.urgent {
    background-color: @base09;
}

#mode {
    background-color: #64727D;
    border-bottom: 3px solid @base06;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#language,
#mpd {
    padding: 0 10px;
    color: @base05;
    border-radius: 5px;
}

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    background-color: @base02;
    color: @base06;
}

#battery {
    background-color: @base02;
    color: @base06;

}

#battery.charging, #battery.plugged {
    background-color: @base01;
    color: @base05;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: @base02;
    color: @base08;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#cpu {
    background-color: @base0B;
    color: @base01;
}

#memory {
    background-color: @base0E;
    color: @base00;
}

#disk {
    background-color: #964B00;
}

#backlight {
    background-color: @base03;
    color: @base06;
}

#network {
    background-color: @base0D;
    color: @base00;
}

#network.disconnected {
    background-color: #f53c3c;
}

#pulseaudio {
    background-color: @base0A;
    color: @base01;
}

#pulseaudio.muted {
    background-color: #90b1b1;
    color: #2a5c45;
}

#wireplumber {
    background-color: @base06;
    color: @base00;
}

#wireplumber.muted {
    background-color: #f53c3c;
}

#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#temperature {
    background-color: #f0932b;
}

#temperature.critical {
    background-color: #eb4d4b;
}

#tray {
    background-color: @base01;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#idle_inhibitor {
    background-color: #2d3436;
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}

#mpd {
    background-color: #66cc99;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}

#language {
    background-color: @base03;
    color: @base06;
    min-width: 16px;
}

#keyboard-state {
    background: #97e1ad;
    color: #000000;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
	background-color: transparent;
}
