/* Start flavours */
/*
*
* Base16 Purple GPT
* Author: GPTO1
*
*/

@define-color base00 #201b3a;
@define-color base01 #2b2548;
@define-color base02 #3a3360;
@define-color base03 #766ebd;
@define-color base04 #a3a3d6;
@define-color base05 #bfb3e2;
@define-color base06 #d9d3f8;
@define-color base07 #f9f6ff;
@define-color base08 #ee6e8b;
@define-color base09 #efa68f;
@define-color base0A #f3d88c;
@define-color base0B #96c592;
@define-color base0C #8ac2d8;
@define-color base0D #8e9af7;
@define-color base0E #c099ff;
@define-color base0F #bd7c9d;
/* End flavours */

* {
    border: none;
    border-radius: 0px;
    font-family: FiraCodeNerdFontMono, sans-serif;
    font-size: 18px;
    font-weight: bold;
    min-height: 0;
}

window#waybar {
    background: rgba(21, 18, 27, 0);
    color: @base06;
}

tooltip {
    background: @base01;
    border: 2px solid @base03;
    border-radius: 0.5rem;
}

#workspaces button {
    border: none;
    padding: 5px 10px;
    background-color: @base00;
    color: @base03;
    border-radius: 10px;
}

#workspaces > button:first-child {
    margin-left: 0.5rem;
}
#workspaces > button:last-child {
    margin-right: 0.5rem;
}

#workspaces > button.active {
    color: @base05;
}

#workspaces > button.focused {
    color: @base01;
    background: @base09;
    border-radius: 10px;
}

#workspaces button.urgent {
    color: @base00;
    background: @base09;
    border-radius: 10px;
}

#workspaces button:hover {
    background: @base00;
    color: @base06;
    border-radius: 10px;
}

#window,
#clock,
#battery,
#pulseaudio,
#network,
#workspaces,
#tray,
#cpu,
#memory,
#language,
#backlight {
    background: @base01;
    padding: 0px 10px;
    margin: 0px;
    margin-top: 10px;
    border-top: 1px solid @base00;
    border-bottom: 1px solid @base00;
}

#tray {
    border-radius: 0px 10px 10px 0px;
    margin-right: 10px;
}

#workspaces {
    background: @base01;
    border-radius: 10px;
    margin-left: 10px;
    padding: 0px;
}

#window {
    color: @base05;
    border-radius: 10px;
    margin-left: 60px;
    margin-right: 60px;
}

#clock {
    color: @base09;
    border-radius: 10px 0px 0px 10px;
    margin-left: 5px;
    border-right: 0px;
}

#network {
    color: @base0A;
    border-left: 0px;
    border-right: 0px;
}

#pulseaudio {
    color: @base0C;
    border-left: 0px;
    border-right: 0px;
    border-radius: 10px 0px 0px 10px;
}

#pulseaudio.microphone {
    color: @base0C;
    border-radius: 0px 10px 10px 0px;
    border-left: 0px;
    border-right: 0px;
    margin-right: 5px;
}

#language {
    border-radius: 0 10px 10px 0;
    margin-right: 10px;
    border-left: 0px;
}

