/* base16-wofi (https://sr.ht/~knezi/base16-wofi)
 * Base16 wofi template by knezi
 * Purple GPT scheme by GPTO1 */

window {
	background-color: #201b3a;
	color: #bfb3e2;
}

#entry:nth-child(odd) {
	background-color: #201b3a;
}

#entry:nth-child(even) {
	background-color: #2b2548;
}

#entry:selected {
	background-color: #3a3360;
}

#input {
	background-color: #2b2548;
	color: #a3a3d6;
	border-color: #3a3360; 
}

#input:focus {
	border-color: #f3d88c; 
}