/* base16-wofi (https://sr.ht/~knezi/base16-wofi)
 * Base16 wofi template by knezi
 * Purple GPT scheme by GPTO1 */

window {
	background-color: #1b182c;
	color: #aea2c7;
}

#entry:nth-child(odd) {
	background-color: #1b182c;
}

#entry:nth-child(even) {
	background-color: #242136;
}

#entry:selected {
	background-color: #2e2b40;
}

#input {
	background-color: #242136;
	color: #7e78a1;
	border-color: #2e2b40; 
}

#input:focus {
	border-color: #f3d88c; 
}